<div class="container-fluid">
    <div class="text-center">
        <img src="https://i.pinimg.com/236x/fd/df/29/fddf29d670b0fa9961f17ff9c8b97a47.jpg" class="center-block"
            alt="TUX">
    </div>
</div>
<p class="text-center text-muted">© Copyright 2021 - Créer par AndyLove</p>