<!DOCTYPE html>
<html lang="fr-ca">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>

        <div class="jumbotron">
            <div class="text-center">
                <h1 class=> Oh ohhhhh.... Page introuvable !!</h1>
                <img src="https://i.pinimg.com/236x/0e/00/77/0e00772309c56a3d9e67a79164b088c9.jpg"
                    class="img-responsive" alt="page introuvable"><br>
                <h3>Erreur 404</h3>
            </div>
        </div>
    </main>

    <footer>
        <p class="text-center text-muted">© Copyright 2021 - Créer par AndyLove</p>
    </footer>

</body>