<!DOCTYPE html>
<html lang="fr-ca">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Contact</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Adresse postale</th>
                        <th scope="col">Courriel</th>
                        <th scope="col">Téléphone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Beaudet-Racine</th>
                        <td>Andrée-Anne</td>
                        <td>2749 rue du Cédrat, Terrebonne, J7M 1X8</td>
                        <td>andreeannebr@gmail.com</td>
                        <td>514-679-2524</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>